@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a;
  --foreground: #f8fafc;
}

@layer base {
  * {
    @apply border-slate-700;
  }
  body {
    @apply bg-slate-950 text-slate-100 font-sans;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
